{% extends "base.html.twig" %}
{% block content %}
<article style="max-width:800px;margin:0 auto;padding:2rem 1rem">
    <h1 style="margin-bottom:1rem">{{ title }}</h1>
    <div style="line-height:1.8">{{ page.content|raw }}</div>
</article>
{% endblock %}
